<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      href="
    http://localhost:3000/static/css/main.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/" style="color: white; text-decoration: none"
          ><h3>Budget-App</h3></a
        >
        <nav>
          <a href="/">
            <span class="material-symbols-outlined"> home </span>
          </a>
          <a href="/add">
            <span class="material-symbols-outlined"> add_circle </span>
          </a>
          <a href="/signin">
            <span class="material-symbols-outlined"> person </span>
          </a>
          <a href="/signup">
            <span class="material-symbols-outlined"> person_add </span>
          </a>
          <a onclick="logOut()">
            <span class="material-symbols-outlined"> logout </span>
          </a>
        </nav>
      </div>
    </header>
    <div class="container">
      <% if (expenses.length === 0) { %>
      <h2 style="color: white">no data</h2>
      <% } %> <% if (expenses.length > 0) { %>
      <div class="expense-container">
        <% expenses.forEach(function(expense){ %>
        <div class="expense-box">
          <span>Category: <%= expense.category %></span>
          <span>Type: <%= expense.type %></span>
          <span>Amount: <%= expense.amount %></span>
          <button onclick="deleteExpense('<%= expense.id %>')">delete</button>
          <a href="/edit/<%= expense.id %>">edit</a>
        </div>
        <% }) %>
      </div>
      <% } %>
    </div>

    <script>
      const deleteExpense = (id) => {
        try {
          fetch(`/delete/${id}`, { method: "delete" }).then((res) => {
            if (res.status === 200) {
              location.reload();
            }
          });
        } catch (err) {
          console.log(err);
        }
      };

      const logOut = () => {
        try {
          fetch("/logout", { method: "POST" }).then((res) => {
            if (res.status === 200) {
              location.reload();
            }
          });
        } catch (err) {
          console.log(err);
        }
      };
    </script>
  </body>
</html>
